## Prepare:

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
!ls drive/MyDrive/"2022-2023"/Data/"100 - submit"/Data/

'cleaned data'		       ids.xlsx		  'raw data'
 cmt_data_full.csv	       locations.xlsx	   topping_data1.csv
 hcmc-0-101000-update-3.csv    Main.db		   url_40k.csv
 hcmc_shopee_order_like.xlsx   out_split_17.xlsx   url_hcmc.csv

In [ ]:
temp = !ls drive/MyDrive/"2022-2023"/Data/"100 - submit"/Data

In [ ]:
files = [item1 for item in temp.fields() for item1 in item]
files

["'cleaned",
 "data'",
 'ids.xlsx',
 "'raw",
 "data'",
 'cmt_data_full.csv',
 'locations.xlsx',
 'topping_data1.csv',
 'hcmc-0-101000-update-3.csv',
 'Main.db',
 'url_40k.csv',
 'hcmc_shopee_order_like.xlsx',
 'out_split_17.xlsx',
 'url_hcmc.csv']

In [ ]:
files.remove("'cleaned")
files.remove("data'")
files.remove("data'")
files.remove("'raw")
files

['ids.xlsx',
 'cmt_data_full.csv',
 'locations.xlsx',
 'topping_data1.csv',
 'hcmc-0-101000-update-3.csv',
 'Main.db',
 'url_40k.csv',
 'hcmc_shopee_order_like.xlsx',
 'out_split_17.xlsx',
 'url_hcmc.csv']

In [ ]:
root = 'drive/MyDrive/2022-2023/Data/100 - submit/Data/'

## Foody Data:

### Foody Restaurant URL:

In [ ]:
i = 9
url = pd.read_csv(root+files[i])
print(files[i])
url

url_hcmc.csv

                                                        0
0          www.foody.vn/ho-chi-minh/lu-s-coffee-pham-hung
1       www.foody.vn/ho-chi-minh/gia-han-coffee-vo-lie...
2       www.foody.vn/ho-chi-minh/tra-sua-xien-que-hot-...
3             www.foody.vn/ho-chi-minh/banana-chuoi-7-mau
4               www.foody.vn/ho-chi-minh/tra-sua-princess
...                                                   ...
101424  www.foody.vn/ho-chi-minh/quan-chay-thien-duyen...
101425          www.foody.vn/ho-chi-minh/quan-chay-co-nga
101426  www.foody.vn/ho-chi-minh/quan-160-quan-an-gia-...
101427  www.foody.vn/ho-chi-minh/quan-161-hu-tieu-hoan...
101428  www.foody.vn/ho-chi-minh/fang-cha-tra-sua-quan...

[101429 rows x 1 columns]

### Foody Restaurant Data:

In [ ]:
i = 4
url = pd.read_csv(root+files[i])
print(files[i])
url

hcmc-0-101000-update-3.csv

,latitude,longitude,restaurant_id,district_id,city_id,name,street_address,area_address,district_address,region_address,...,review_bad_count,view_count,checked_in_count,favourite_count,wanted_count,picture_count,status,time_clock,price_range,url
0,10.785022,106.698976,6.780640e+05,1.0,217.0,Bún Miến Gà Vỉa Hè,"37 Mạc Đĩnh Chi, P. Đa Kao",Khu vực Đài Truyền Hình,Quận 1,TP. HCM,...,0.0,237.0,0.0,2.0,6.0,7.0,Đang hoạt động,11:00 - 13:00,20.000đ - 25.000đ,http://www.foody.vn/ho-chi-minh/bun-mien-ga-vi...
1,10.771073,106.703596,2.104930e+05,1.0,217.0,Thiên Nhiên - Vịt Quay Heo Quay,56 Hàm Nghi,Khu vực Bitexco Tower,Quận 1,TP. HCM,...,0.0,635.0,1.0,1.0,3.0,2.0,Đang hoạt động,08:30 - 22:00,50.000đ - 200.000đ,http://www.foody.vn/ho-chi-minh/thien-nhien-vi...
2,10.769882,106.691158,1.059918e+06,1.0,217.0,Tokyo Ramen,"106 Nguyễn Trãi, P. Bến Thành",Khu vực Zen Plaza,Quận 1,TP. HCM,...,0.0,168.0,0.0,1.0,0.0,46.0,Đang hoạt động,09:00 - 20:00,20.000đ - 200.000đ,http://www.foody.vn/ho-chi-minh/tokyo-ramen
3,10.793500,106.688799,1.043820e+06,1.0,217.0,Bún Bò Huế O Hương - Trần Quý Khoách,"10 Trần Quý Khoách, P. Tân Định",Khu vực Chợ Tân Định,Quận 1,TP. HCM,...,0.0,136.0,0.0,3.0,2.0,12.0,Đang hoạt động,06:00 - 11:00,30.000đ - 50.000đ,http://www.foody.vn/ho-chi-minh/bun-bo-hue-o-h...
4,10.763958,106.697598,1.044890e+06,1.0,217.0,Lẩu Mini Hotpot,1 Nguyễn Thái Học,Khu vực Cầu Ông Lãnh,Quận 1,TP. HCM,...,0.0,474.0,0.0,2.0,1.0,10.0,Đang hoạt động,10:00 - 23:00,50.000đ - 200.000đ,http://www.foody.vn/ho-chi-minh/lau-mini-hotpot
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101396,10.848723,106.759121,3.172930e+05,693.0,217.0,Sinh Tố & Bánh Mì Thổ Nhĩ Kỳ,"241 Đặng Văn Bi, P. Trường Thọ",Khu vực Làng Cafe,Quận Thủ Đức,TP. HCM,...,0.0,592.0,1.0,4.0,13.0,9.0,Đang hoạt động,05:00 - 22:00,10.000đ - 20.000đ,http://www.foody.vn/ho-chi-minh/sinh-to-banh-m...
101397,10.841441,106.825420,1.000030e+09,11.0,217.0,Sơn Dừa - Bánh Cuốn Nóng & Bún Thịt Nướ...,"6 Nguyễn Văn Thạnh, P. Long Thạnh Mỹ",NaN,Quận 9,TP. HCM,...,NaN,39.0,0.0,0.0,0.0,0.0,Đang hoạt động,06:00 - 11:00,Đang cập nhật,http://www.foody.vn/ho-chi-minh/son-du-a-ba-nh...
101398,10.838521,106.831660,1.152490e+06,11.0,217.0,Highlands Coffee - Vinhomes Grand Park,"Vinhomes Grand Park, Nguyễn Xiển, Long Thạnh M...",NaN,Quận 9,TP. HCM,...,NaN,1.0,0.0,0.0,0.0,0.0,Đang hoạt động,07:00 - 22:00,30.000đ - 80.000đ,http://www.foody.vn/ho-chi-minh/highlands-coff...
101399,10.786297,106.753080,1.126699e+06,4.0,217.0,Nhà Hàng Mix Cafe - Cơm Gà Nướng & Steak,"36 Đường Số 2, P. An Phú (Ngay Góc Thân Văn Nh...",NaN,Quận 2,TP. HCM,...,NaN,42.0,0.0,0.0,0.0,0.0,Đang hoạt động,07:00 - 22:00,20.000đ - 100.000đ,http://www.foody.vn/ho-chi-minh/nha-hang-mix-c...
101400,10.875395,106.744960,8.367890e+05,693.0,217.0,NHÀ HÀNG PHÚ QUÝ,3414 khu phố 5,NaN,Quận Thủ Đức,TP. HCM,...,NaN,22.0,0.0,0.0,0.0,0.0,Đang hoạt động,09:00 - 21:00,Đang cập nhật,http://www.foody.vn/ho-chi-minh/nha-hang-phu-quy

### Comment Data

In [ ]:
i = 1
url = pd.read_csv(root+files[i])
print(files[i])
url

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3,10,11,13,14,18,22,23,24,25,26,27,28,29,30,32,34,36,38,39,43,44,45,49,50,53,54) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

cmt_data_full.csv

,Id,Title,Description,Type,TypeName,CreatedDate,CreatedOnTimeDiff,DeviceName,DeviceUrl,DeviceType,...,Owner.MobileCover,Options.Guest,Options.VisitAgain,Options.MoneySpend,Restaurant_id,Video.Id,Video.Source,Video.Avatar,Video.Type,Video.SourceType
0,45973.0,"Giá bình dân, rất hợp lý","Khách ở đây đa số là sinh viên nên giá cả ok, ...",1,đã bình luận,/Date(1389853773020)/,16/01/2014,Web,NaN,4.0,...,NaN,NaN,NaN,NaN,4687.0,NaN,NaN,NaN,NaN,NaN
1,21988.0,Không gian sôi động,"Vị trí : rất đẹp, tuy là hẻm nhưng mà 1 mặt là...",1,đã bình luận,/Date(1376112467563)/,10/08/2013,Web,NaN,4.0,...,NaN,2+,Có thể !,"50,000 đ +",4687.0,NaN,NaN,NaN,NaN,NaN
2,10248.0,không gian khá được,"có cây xanh và hồ phun nước, giáp với đường nê...",1,đã bình luận,/Date(1357990723840)/,12/01/2013,Web,NaN,4.0,...,NaN,NaN,NaN,NaN,4687.0,NaN,NaN,NaN,NaN,NaN
3,3595.0,Quán nhiều cây xanh nhưng hơi ồn,Quán này phía sau bệnh viện quận 9. Quán co rộ...,1,đã bình luận,/Date(1348248407790)/,22/09/2012,Web,NaN,4.0,...,NaN,4+,Có thể,"100,000 đ +",4687.0,NaN,NaN,NaN,NaN,NaN
4,2292152.0,Highlight Coffee,"Không gian khá rộng, 2 tầng, trang trí cũng rấ...",1,đã bình luận,/Date(1568577604780)/,16/09/2019,Android,/ung-dung-mobile,2.0,...,NaN,NaN,NaN,NaN,739141.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319373,1185499.0,Sukiya - Cơm Bò Hầm & Mì Ramen - Crescent Mall,"Quán ngon bán cơm và mì của Nhật, highly recom...",1,đã bình luận,/Date(1482028636357)/,18/12/2016,iPhone,/ung-dung-mobile,1.0,...,NaN,NaN,NaN,NaN,299423.0,NaN,NaN,NaN,NaN,NaN
319374,1185049.0,Sukiya - Cơm Bò Hầm & Mì Ramen - Crescent Mall,Quán ở đây không có nút bấm gọi waiter như bên...,1,đã bình luận,/Date(1481986380007)/,17/12/2016,iPhone,/ung-dung-mobile,1.0,...,NaN,2+,Chắc chắn,"100,000đ +",299423.0,NaN,NaN,NaN,NaN,NaN
319375,1183692.0,Sukiya - Cơm Bò Hầm & Mì Ramen - Crescent Mall,Mình rất thích món ăn nơi đây. Chất lượng tốt ...,1,đã bình luận,/Date(1481900805873)/,16/12/2016,Web,NaN,4.0,...,NaN,6+,Chắc chắn,"100,000đ +",299423.0,NaN,NaN,NaN,NaN,NaN
319376,1172080.0,Sukiya - Cơm Bò Hầm & Mì Ramen - Crescent Mall,Bạn của mình tổ chức sinh nhật ở quán. Mình đã...,1,đã bình luận,/Date(1481271176823)/,09/12/2016,Android,/ung-dung-mobile,2.0,...,NaN,NaN,Chắc chắn,"50,000đ +",299423.0,NaN,NaN,NaN,NaN,NaN
319377,1165738.0,Rất ngon ! Lại Rẻ :),Mình đã từng ăn Sukiya tại Nhật Bản khá lâu rồ...,1,đã bình luận,/Date(1480930355937)/,05/12/2016,iPhone,/ung-dung-mobile,1.0,...,NaN,2+,Chắc chắn,"100,000đ +",299423.0,NaN,NaN,NaN,NaN,NaN

## ShopeeFood Data:

### Restaurant's IDs:

In [ ]:
i = 0
url = pd.read_excel(root+files[i])
print(files[i])
url

ids.xlsx

           id        lat         lon
0      271712  10.825926  106.566924
1      222427  10.825926  106.566924
2      224785  10.825926  106.566924
3      186354  10.825926  106.566924
4      187466  10.825926  106.566924
...       ...        ...         ...
67224   63910  10.817367  106.549402
67225   55398  10.817367  106.549402
67226  131805  10.817367  106.584402
67227  117508  10.817367  106.584402
67228  258247  10.817367  106.584402

[67229 rows x 3 columns]

### ShopeeFood Restaurant Data:

In [ ]:
i = 8
url = pd.read_excel(root+files[i])
print(files[i])
url

out_split_17.xlsx

,Unnamed: 0,district_id,location_url,browsing_id,restaurant_id,restaurant_url,restaurant_name,is_quality_merchant,restaurant_status,limit_distance,...,brand_id,brand_name,address,lon,lat,status,open_time,close_time,Unnamed: 0.1,Unnamed: 0.1.1
0,0,15,ho-chi-minh,84301,920007,pho-nha-nguyen-xi,Phở Nhà - Nguyễn Xí,0,2,20000,...,6973.0,Phở Nhà,"156 Nguyễn Xí, P. 26, Bình Thạnh, TP. HCM",106.708507,10.814612,2,NaN,NaN,NaN,NaN
1,0,693,ho-chi-minh,83615,802047,nhu-trieu-bun-bo-hue,Như Triệu - Bún Bò Huế,0,2,20000,...,NaN,NaN,"78 Đường Số 4, P. Phước Bình, Thủ Đức, TP. HCM",106.771575,10.818569,2,NaN,NaN,NaN,NaN
2,1,693,ho-chi-minh,62392,773997,quan-com-trua-123,Quán Cơm Trưa 123,0,2,20000,...,NaN,NaN,"123 Mai Chí Thọ, P. An Phú, Thủ Đức, TP. HCM",106.755508,10.806358,2,NaN,NaN,NaN,NaN
3,2,693,ho-chi-minh,186825,1081227,xoi-cu-nho-xoi-xeo-xoi-bap-xoi-khuc-luong-dinh...,"Xôi Cụ Nho - Xôi Xéo, Xôi Bắp & Xôi Khúc - Lươ...",0,2,20000,...,NaN,NaN,"380A Lương Định Của, P. An Phú, Thủ Đức, TP. HCM",106.750074,10.792198,2,NaN,NaN,NaN,NaN
4,3,693,ho-chi-minh,38236,731718,com-tam-vy,Cơm Tấm Vy,0,2,20000,...,NaN,NaN,"38C1 Đường Số 61, P. Phước Long B, Thủ Đức, TP...",106.769605,10.831926,2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80067,78065,16,ho-chi-minh,34853,708242,passio-coffee-nguyen-thai-binh,Passio Coffee - 279 Nguyễn Thái Bình,0,2,20000,...,282.0,Passio Coffee To Go,"279 Nguyễn Thái Bình, Tân Bình, TP. HCM",106.654174,10.796930,2,NaN,NaN,68917.0,1.0
80068,78066,18,ho-chi-minh,81120,901821,family-soup-chao-dinh-duong-lo-tu,Family Soup - Cháo Dinh Dưỡng - Lô Tư,0,2,20000,...,6563.0,Family Soup - Cháo Dinh Dưỡng,"15 Lô Tư, P. Bình Hưng Hòa A, Bình Tân, TP. HCM",106.602981,10.788167,2,NaN,NaN,68918.0,0.0
80069,78067,18,ho-chi-minh,145099,1061502,tra-sua-te-amo-le-van-quoi,Trà Sữa Te Amo - Lê Văn Quới,0,2,7000,...,8282.0,Trà Sữa Te Amo_foody,"382 Lê Văn Quới, P. Bình Hưng Hòa A, Bình Tân,...",106.604762,10.776465,2,NaN,NaN,68919.0,1.0
80070,78068,696,ho-chi-minh,243237,1123133,phuc-long-d1-1-nguyen-thi-tu,Phúc Long D1/1 Nguyễn Thị Tú,0,2,20000,...,13004.0,Phúc Long Kiosk HCM,"D1/1 Nguyễn Thị Tú, Ấp 4, Xã Vĩnh Lộc B, Bình ...",106.583377,10.814677,2,NaN,NaN,68920.0,0.0
80071,78069,18,ho-chi-minh,178472,1076074,tra-sua-te-amo-duong-so-3-binh-tan,"Trà Sữa Te Amo- Đường Số 3, Bình Tân",0,2,20000,...,8282.0,Trà Sữa Te Amo_foody,"168 Đường Số 3, KDC Vĩnh Lộc, P. Bình Hưng Hòa...",106.592734,10.808785,2,NaN,NaN,68921.0,0.0

### Dishes:

In [ ]:
dishes = !ls drive/MyDrive/"2022-2023"/Data/"100 - submit"/Data/"raw data"/dishes/
dish_files = [file.replace("'","").replace('\t','').strip(' ')+'xlsx' for item in dishes.get_list() for file in item.split('xlsx') if file != "'"] 
# dish_files

In [ ]:
rows = 0
for file in dish_files:
  temp_df = pd.read_excel(root+'raw data/dishes/'+file)
  rows += len(temp_df)
print('Total Rows: ', rows)
temp_df

Total Rows:  3090871

,Unnamed: 0,catalog_id,dish_total_order,catalog_name,catalog_rank,catalog_partner_catalog_id,catalog_description,dish_restaurant_id,dish_id,dish_name,dish_partner_dish_id,dish_listing_status,dish_description,dish_total_like,dish_rank,dish_picture_label,dish_is_hidden,dish_price,dish_is_group_discount_item,dishes_property_info
0,0,5176629,8,Bánh Mì Ơi,-11,NaN,NaN,1152160,118683056,Bánh Mì Que Pate Chà Bông,NaN,True,- Bánh Mì Que Pate Chà Bông là sự kết hợp giữa...,11,0,NaN,False,12000,True,"{""has_alcohol"": false}"
1,1,5176629,3,Bánh Mì Ơi,-11,NaN,NaN,1152160,118686340,Bánh Mì Bò Né,NaN,True,'Bánh Mì Bò Né là sự kết hợp giữa bánh mì nướn...,2,0,NaN,False,35000,True,"{""has_alcohol"": false}"
2,2,5176629,3,Bánh Mì Ơi,-11,NaN,NaN,1152160,118681168,Bánh Mì Bò Sa Tế,NaN,True,- Bánh Mì Bò Sa Tế là sự kết hợp giữa bánh mì ...,12,0,NaN,False,35000,True,"{""has_alcohol"": false}"
3,3,5176629,3,Bánh Mì Ơi,-11,NaN,NaN,1152160,118683997,Bánh Mì Chay,NaN,True,- Bánh Mì Chay là sự kết hợp giữa bánh mì nướn...,6,0,NaN,False,22000,True,"{""has_alcohol"": false}"
4,4,5176629,1,Bánh Mì Ơi,-11,NaN,NaN,1152160,118684440,Bánh Mì Gà Xíu,NaN,True,- Bánh Mì Gà Xíu là sự kết hợp giữa bánh mì nư...,1,0,NaN,False,35000,True,"{""has_alcohol"": false}"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72208,72208,671292,163,Menu,0,NaN,NaN,887857,7315384,Hoành thánh chiên,NaN,True,NaN,1,0,NaN,False,28000,True,"{""has_alcohol"": false}"
72209,72209,671292,151,Menu,0,NaN,NaN,887857,7315403,Thanh cua cuốn,NaN,True,NaN,4,0,NaN,False,35000,True,"{""has_alcohol"": false}"
72210,72210,671292,115,Menu,0,NaN,NaN,887857,7315433,Bánh bao thịt,NaN,True,NaN,3,0,NaN,False,27000,True,"{""has_alcohol"": false}"
72211,72211,671292,93,Menu,0,NaN,NaN,887857,7315413,Bắp,NaN,True,NaN,3,0,NaN,False,35000,True,"{""has_alcohol"": false}"
72212,72212,671292,48,Menu,0,NaN,NaN,887857,7315398,Thanh cua,NaN,True,NaN,1,0,NaN,False,32000,True,"{""has_alcohol"": false}"

### Topping Data:

In [ ]:
i = 3
url = pd.read_csv(root+files[i])
print(files[i])
url

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0,1,2,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

topping_data1.csv

,restaurant_id,dish_id,group_min_select,group_name,group_rank,group_max_select,group_id,group_partner_option_group_id,option_name,option_weight,...,option_is_active,option_rank,option_is_default,option_max_qty,option_group_id,option_id,option_stock_info.start_time,option_stock_info.is_out_stocked,option_stock_info.end_time,option_original_price
0,1152189,118987651,1,Size,0,1,721253,NaN,250ml,1,...,True,0,True,1,721253,4682002,0,False,0,NaN
1,1152189,118987651,1,Size,0,1,721253,NaN,330ml,1,...,True,0,False,1,721253,4682003,0,False,0,NaN
2,1152189,118987651,1,Size,0,1,721253,NaN,1000ml,1,...,True,0,False,1,721253,4682004,0,False,0,NaN
3,1067920,84732845,1,Chọn size,0,1,655380,NaN,Size M,1,...,True,0,True,1,655380,4018957,0,False,0,NaN
4,1067920,84732845,1,Chọn size,0,1,655380,NaN,Size L,1,...,True,0,False,1,655380,4018958,0,False,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3295909,93324,641861,1,Chọn cách xào,1,1,3941,NaN,Xào rau muống,1,...,True,7,False,1,3941,19620,0,False,0,NaN
3295910,93324,641861,1,Chọn cách xào,1,1,3941,NaN,Xào sate tép mỡ,1,...,True,8,False,1,3941,19621,0,False,0,NaN
3295911,93324,641861,1,Chọn cách xào,1,1,3941,NaN,Xào tép mỡ hành,1,...,True,9,False,1,3941,19622,0,False,0,NaN
3295912,93324,641861,1,Chọn cách xào,1,1,3941,NaN,Rang muối ớt,1,...,True,10,False,1,3941,19624,0,False,0,NaN
3295913,93324,641861,1,Chọn cách xào,1,1,3941,NaN,Xào sốt Chanh Dây tóp mỡ,1,...,True,11,False,1,3941,116890,0,False,0,NaN